  <div class="announcement-bar">
    <p class="afterpay" style="margin-top:0px;">
     
      or 4 interest-free payments  <img src="https://cdn.shopify.com/s/files/1/0694/8860/7531/files/afterpay_180x.webp?v=1674714992" alt="Afterpay" style="vertical-align: middle; width: 86px; height: auto;">
      <a href="javascript:void(0);" style="text-decoration: none" data-afterpay-modal="{{ request.locale.iso_code }}_{{ shop.address.country_code }}">ⓘ</a>
    </p>
  </div>
  <script src="https://js.afterpay.com/afterpay-1.x.js" defer></script>
