  <div class="afterpay-paragraph">
      or 4 interest-free payments  {{ compare_at_price | money_with_currency }} <img src="https://static.afterpay.com/integration/product-page/logo-afterpay-black.png" alt="Afterpay" style="vertical-align: middle;width: 90px; padding-right: 10px;display: inline-block;"><a href="javascript:void(0);" style="text-decoration: none;color: blue;color: #006ff5;" data-afterpay-modal="{{ request.locale.iso_code }}_{{ shop.address.country_code }}"">Info</a>
  </div>
  <script src="https://js.afterpay.com/afterpay-1.x.js" defer></script>




  