  <div class="announcement-bar">
      or 4 interest-free payments 
      <a href="javascript:void(0);" style="text-decoration: none" data-afterpay-modal="{{ request.locale.iso_code }}_{{ shop.address.country_code }}" style="color:{{ section.settings.afterpay_banner_text_color }};">Info</a>
  </div>
  <script src="https://js.afterpay.com/afterpay-1.x.js" defer></script>