  <div class="">
    <p class=" afterpay">
      or 4 interest-free payments 
                        <span class="afterpay-logo-link"><button class="afterpay-logo brand-afterpay compact-badge type-badge black-on-mint" aria-label="Afterpay logo - Opens a dialog" title="Afterpay logo - Opens a dialog">
                            <button id="logo-link" class="afterpay-link" tabindex="0" aria-label="Learn More about Afterpay - Opens a dialog" title="Learn More about Afterpay - Opens a dialog">
                            <template style="text-decoration: none; display: inline-block;"></template>
                          </button>
                        </span>
      <a href="javascript:void(0);" style="text-decoration: none" data-afterpay-modal="{{ request.locale.iso_code }}_{{ shop.address.country_code }}" ></a>
    </p>
  </div>
  <script src="https://js.afterpay.com/afterpay-1.x.js" defer></script>


