{% comment %}
  Shopify Wishlist
  Usage:
    - Markup: {%- render 'button-wishlist', product: product -%}
    - Place this snippet inside your existing product card snippet
  Parameters:
    - product: <Shopify product> (required)
{% endcomment %}
<div class="product-wishlist">
  {%- if product.handle != blank -%}
    <button
      type="button"
      aria-label="Add to wishlist"
      class=""
      button-wishlist
      data-product-handle="{{ product.handle }}"
    >
      <style scoped>
        .icon-heart {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            fill: currentColor;
        }
        .icon-heart {
          fill: transparent;
          stroke: #fff;
          transition: fill 0.3s ease;
        }
        .active .icon-heart {
          fill: red;
          stroke: #fff;
        }
      </style>
      {%- render 'icon-heart' -%}
    </button>
  {%- endif -%}
</div>
